<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/app/assets/stylesheets/application.css">
</head>
<title>Password Protected page</title>
<script type="text/javascript">
var s ="";

while (s != "admin")
{
s=prompt("please enter your password");
if (s=="admin") {window.location.href="/customers";}
else {alert("Incorrect password-Try again"); }
}
</script>
</head>

<body>
</body>
</html>